body {
    margin: 0;
    padding: 0%;
}
header {
    background-color: rgb(105, 30, 226);
    text-align: center;
    padding: 20px;
}
.sobre{
    display: flex;
    background-color: rgb(126, 58, 235);
    margin: 10px;
    border-radius: 15px;
}
img {
    height: 200px;
    width: 200px;
    border: solid 3px rgb(128, 14, 173);
}
.sobre div{
    margin: 10px;
}
.conteudo,footer, .projetoDeVida {
    background-color: rgb(126, 58, 235);
    border-radius: 15px ;
    margin: 10px;
    padding: 15px;
}


